@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes scroll-rtl {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll-rtl {
  animation: scroll-rtl 30s linear infinite;
  width: max-content;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33.333%); }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
  width: max-content;
  display: flex;
}
